.Pravougaonik {
    width: 200px;
    height: 200px;
    background-color: bisque;
    border: 10px solid Black;
    margin-top: 4px;
}

.move{
    animation: move 2s ease forwards;
}

@keyframes move {
    from{
    transform: translateX(0);}
    to{
    transform: translateX(200px);}
}
